.App {
    text-align: center;
}

h1 {
    font-size: 54px;
    margin: 20px;
    /* text-align: center; */
}

button {
    padding: 15px;
    font-size: 30px;
    border-radius: 5px;
    border: 0;
    margin: 20px;
    background-color: #b7d8e0;
}

p {
    font-size: 24px;
    /* text-align: center; */
}
